html {
  filter: sepia(10%) hue-rotate(10deg);
}
body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444444+0,333333+100 */
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #444444 0%,
    #333333 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #444444 0%,
    #333333 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #444444 0%,
    #333333 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
  color: white;
}

hr {
  display: block;
  border: none;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
